/*contacts*/
	.address dt { }
	.address dl { margin-top: 0px;}

	.address span {	display: inline-block;	width: 89px;} 
		.address span.e-mail {width:auto;}


	.address a {
		text-decoration: underline;
	}
		.address a:hover {text-decoration: none;}

	.map_wrapper {display: block;}

	.address {
		float: left;
		margin: 0px 122px 0 0;
	}
	.address + .address { margin: 0;}

	#map_canvas {width: 100%; height: 335px;margin-top: 2px;margin-bottom: -2px;}



/*---------form---------*/
	#contact-form {	position: relative;	padding-top: 3px;}
	#contact-form .error, #contact-form .empty {
		text-align: right;
		color: red;
		right: 10px;
		top: 5px;
		font-size: 10px;
		line-height: 1.25em;
		display: none;
		overflow: hidden;
		position: absolute;
	}
	#contact-form .success {
		width: 100%;
		top: 0px;
		left: 0;
		z-index: 99;
		text-align: center;
		padding: 55px 0;
		display: none;
		position: absolute;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-o-box-sizing: border-box;
		box-sizing: border-box;
		border: 1px solid #ebebeb;
		background: #ffffff;
		font-family: 'Arial', sans-serif;
		font-size: 14px;
		line-height: 18px;
		color: #c1c1c1;
	}
	#contact-form label {
		display: inline-block;
		position: relative;
		min-height: 51px;
		width: 100%;
	}
	#contact-form label.message {padding-bottom: 0;}

	#contact-form label input,
	#contact-form label textarea {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-o-box-sizing: border-box;
		box-sizing: border-box;
		border: 1px solid #ebebeb;
		background: #ffffff;
		position: relative;
		float: left;
		outline: none;
		font-family: 'Arial', sans-serif;
		font-size: 14px;
		line-height: 18px;
		color: #c1c1c1;
		border-radius: 0px;
	}
	#contact-form label input {
		height: 41px;
		margin: 0px 0 0px 0;
		width: 100%;
		box-shadow: none !important;
		padding: 11px 9px 10px 16px;
	}
	#contact-form label textarea {
		height: 328px;
		overflow: auto;
		width: 100%;
		padding: 11px 9px 10px 16px;
		margin: 0px;
		resize: none;
	}
	.form_buttons .btn {
		margin-right: 19px;
		margin-top: 46px;
	}

@media only screen and (max-width: 995px) {
	.address + .address { margin-top: 20px;}
	
	#contact-form label {display: block; width: 100%;}
	#contact-form label input {	width: 100%;}
	#contact-form label textarea {	width: 100%;}

	#map_canvas {
		width: 100%;
	}
}
@media only screen and (max-width: 767px) {
	.address {margin-right: 15px;}
.address + .address { margin-top: 0px;}
	
}
@media only screen and (max-width: 479px) {
	.address + .address { margin-top: 20px;}
}
@media only screen and (max-width: 320px) {

}
